Repository jamesmcewan/mighty-dinosaur: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint:fix
  stage_fixed: true

format:
  run: bun run format:write
  stage_fixed: true

use ci install
  .forgejo/workflows/ci-deploy.yml
Due: none

v10.16.3
  package.json
Due: lint, format

update elsewhere
  src/content/elsewhere/elsewhere.json
Due: lint, format

v10.17.0
  package.json
Due: lint, format

tidy
  .gitignore
  bun.lock
  package.json
Due: lint, format

v10.17.1
  package.json
Due: lint, format

update bsky handle
  src/content/elsewhere/elsewhere.json
Due: lint, format

scaffold post
  src/content/posts/2025-building-of-the-keeb.md
Due: none

scaffold post
  src/content/posts/2025-in-review.md
Due: none

add templates for posts and pages
  templates/page.md
  templates/post.md
Due: none

update deps [skip-ci]
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  bun.lock
Due: none

update
  .github/workflows/ci-deploy.yml
Due: none

v10.18.0
  package.json
Due: lint, format

update comics
  src/content/comics/comics.json
  src/content/pages/comics.mdx
Due: lint, format

v10.19.0
  package.json
Due: lint, format

update comics
  src/components/block/comics-block.astro
  src/config/comics.ts
  src/content/comics/comics.json
Due: lint, format

v10.20.0
  package.json
Due: lint, format

update font and add post
  src/components/block/article-block.astro
  src/components/block/comics-block.astro
  src/components/block/link-block.astro
  src/components/block/main-block.astro
  src/components/block/movies-block.astro
  src/components/block/page-block.astro
  src/components/block/pages-block.astro
  src/components/block/section-heading-block.astro
  src/content/pages/uses.md
  src/content/posts/hammer-horror.md
Due: lint

v10.21.0
  package.json
Due: lint, format

test cloudflare integration
  .forgejo/workflows/ci-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  wrangler.toml
Due: none

v10.22.0
  package.json
Due: lint, format

test cloudflare integration
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

v10.23.0
  package.json
Due: lint, format

test cloudflare integration
  .github/workflows/ci.yml
Due: none

v10.24.0
  package.json
Due: lint, format

back
  .github/workflows/ci.yml
  wrangler.toml
Due: none

v10.25.0
  package.json
Due: lint, format

back
  .github/workflows/ci.yml
Due: none

v10.25.1
  package.json
Due: lint, format

up
  .github/workflows/ci.yml
Due: none

v10.25.2
  package.json
Due: lint, format

Add Tokyo Night light mode with theme toggle
  src/components/block/theme-toggle-block.astro
  src/components/structure/head.astro
  src/layouts/single-column-layout.astro
  src/layouts/two-column-layout.astro
  src/styles/global.css
Due: lint, format

Switch light mode from Tokyo Night to Catppuccin Latte
  src/styles/global.css
Due: lint, format

update light mode
  src/components/block/section-heading-block.astro
  src/styles/global.css
Due: lint, format

v10.26.0
  package.json
Due: lint, format

update themes
  src/components/block/section-heading-block.astro
  src/components/structure/head.astro
  src/layouts/single-column-layout.astro
  src/layouts/two-column-layout.astro
  src/styles/global.css
Due: lint, format

v10.27.0
  package.json
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css,astro}
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css, astro}
