Repository jamesmcewan/mighty-dinosaur: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css,astro}"
      run: bunx oxlint check --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css, astro}"
      run: npx @biomejs/biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

new collections bootstrap
  src/content/pages/movies.mdx
Due: none

new collections bootstrap
  lefthook.yml
  src/pages/[...slug].astro
Due: lint

update movies
  src/content/movies/movies.json
Due: lint, format

update movies
  src/components/block/movies-block.astro
  src/config/movies.ts
  src/content/movies/movies.json
  src/data/movies.ts
Due: lint, format

comics
  src/components/block/comics-block.astro
  src/config/comics.ts
  src/content/comics/comics.json
  src/content/pages/comics.mdx
Due: lint, format

comics
  src/content/comics/comics.json
  src/content/pages/comics.mdx
Due: lint, format

comics pull list
  src/components/block/comics-block.astro
  src/components/block/main-block.astro
  src/components/block/movies-block.astro
  src/content/comics/comics.json
  src/content/pages/comics.mdx
Due: lint, format

comics pull list
  src/components/block/main-block.astro
Due: lint

comics pull list
  src/components/block/main-block.astro
  src/components/block/page-block.astro
Due: lint

comics pull list
  src/pages/[...slug].astro
Due: lint

more content collections
  src/components/block/elsewhere-block.astro
  src/components/structure/open-graph.astro
  src/config/elsewhere.ts
  src/content.config.ts
  src/content/elsewhere/elsewhere.json
  src/data/site-config.ts
Due: lint, format

effects
  src/components/block/comics-block.astro
  src/components/block/movies-block.astro
Due: lint

update
  src/components/block/article-block.astro
  src/components/block/comics-block.astro
  src/components/block/main-block.astro
  src/components/block/movies-block.astro
  src/components/block/page-block.astro
  src/components/block/wrapper-block.astro
Due: lint

update
  src/components/block/main-block.astro
Due: lint

update
  bun.lock
  package.json
Due: lint, format

update
  bun.lock
  package-lock.json
  package.json
Due: lint, format

update
  bun.lock
Due: none

bump
  bun.lock
  package.json
Due: lint, format

bun ugrade
  .mise.toml
  bun.lock
  package.json
Due: lint, format

v10.6.0
  package.json
Due: lint, format

bun ugrade
  biome.json
  bun.lock
  package.json
Due: lint, format

v10.6.1
  package.json
Due: lint, format

yml fix
  .github/workflows/main.yml
  bun.lock
Due: none

v10.6.2
  package.json
Due: lint, format

up
  src/data/site-config.ts
Due: lint, format

v10.6.3
  package.json
Due: lint, format

update gitignore
  .gitignore
Due: none

fixes
  src/components/block/maker-block.astro
  src/components/block/pages-block.astro
Due: lint

v10.7.0
  package.json
Due: lint, format

view transitions
  src/components/block/article-block.astro
  src/components/block/page-block.astro
  src/components/block/pages-block.astro
  src/components/block/recent-posts-block.astro
  src/pages/[...slug].astro
  src/pages/post/[...slug].astro
Due: lint

view transitions
  src/components/block/article-block.astro
  src/components/block/recent-posts-block.astro
  src/styles/video.css
Due: lint, format

view transitions
  .oxlintrc.json
Due: lint, format

view transitions
  src/components/block/article-block.astro
  src/components/block/page-block.astro
  src/styles/global.css
Due: lint, format

v10.8.0
  package.json
Due: lint, format

fun css
  src/components/structure/body.astro
  src/styles/global.css
Due: lint, format

v10.9.0
  package.json
Due: lint, format
