Repository jamesmcewan/mighty-dinosaur: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css,astro}"
      run: bun run lint:fix
      stage_fixed: true
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css, astro}"
      run: bun run format:write
      stage_fixed: true

fix robots
  public/robots.txt
Due: none

v10.9.1
  package.json
Due: lint, format

fix order
  src/components/structure/head.astro
Due: lint

v10.9.2
  package.json
Due: lint, format

remove mvl link for now
  src/data/site-config.ts
Due: lint, format

v10.9.3
  package.json
Due: lint, format

update lint fixed
  src/components/block/maker-block.astro
  src/components/block/tile-block.astro
  src/data/site-config.ts
Due: lint, format

fixes to formatting
  biome.json
  bun.lock
  package.json
Due: lint, format

v10.10.0
  package.json
Due: lint, format

mobile fix
  bun.lock
  src/components/block/maker-block.astro
Due: lint

v10.10.1
  package.json
Due: lint, format

font sizes
  src/components/block/main-block.astro
  src/components/block/pages-block.astro
  src/components/block/recent-posts-block.astro
  src/components/block/section-heading-block.astro
Due: lint

v10.11.0
  package.json
Due: lint, format

fix
  src/components/structure/body.astro
  src/styles/global.css
Due: lint, format

v10.11.1
  package.json
Due: lint, format

bump
  bun.lock
  package.json
Due: lint, format

v10.12.0
  package.json
Due: lint, format

add gitlab
  .gitlab-ci.yml
Due: none

add gitlab
  .gitignore
  biome.json
  package.json
Due: lint, format

add security
  bun.lock
  bunfig.toml
  package.json
Due: lint, format

v10.13.0
  package.json
Due: lint, format

rm github
  .github/workflows/branch.yml
  .github/workflows/main.yml
Due: none

v10.13.1
  package.json
Due: lint, format

move to codeberg
  .forgejo/workflows/ci.yml
  .forgejo/workflows/deploy.yml
Due: none

comment out deploy for now
  .forgejo/workflows/deploy.yml
Due: none

v10.14.0
  package.json
Due: lint, format

try codeberg-tiny
  .forgejo/workflows/ci.yml
  .forgejo/workflows/deploy.yml
Due: none

single action
  .forgejo/workflows/ci-deploy.yml
  .forgejo/workflows/deploy.yml
Due: none

reduce
  .forgejo/workflows/ci-deploy.yml
Due: none

add codeberg ci
  .gitlab-ci.yml
Due: none

add deploy step
  .forgejo/workflows/ci-deploy.yml
Due: none

v10.15.0
  package.json
Due: lint, format

switch github link to codeberg
  src/content/elsewhere/elsewhere.json
Due: lint, format

v10.16.0
  package.json
Due: lint, format

fix link
  src/content/elsewhere/elsewhere.json
Due: lint, format

v10.16.1
  package.json
Due: lint, format

Enforce minimum package age
  bunfig.toml
Due: none

v10.16.2
  package.json
Due: lint, format

oxfmt alpha
  .oxfmtrc.json
  astro.config.ts
  biome.json
  bun.lock
  package.json
  postcss.config.js
  src/config/comics.ts
  src/config/elsewhere.ts
  src/config/movies.ts
  src/config/music.ts
  src/config/pages.ts
  src/config/posts.ts
  src/data/get-page.ts
  src/data/get-pages.ts
  src/data/get-posts.ts
  src/data/site-config.ts
  src/pages/rss.xml.ts
Due: lint, format
